html {
  font-size: 16px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
  background-color: #f7f9fa;
}

.main {
  width: 1000px;
  margin: 0 auto;
}

.header {
  background-color: #20232a;
  color: #ffffff;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}

.images__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 30px;
}

.images__thumbnail {
  width: 100%;
}