.modal__dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity:0;
  z-index: -1;
}

.modal__dialog.open {
  opacity: 1;
  z-index: 9999;
}

.modal__dialog > div {
  width: 650px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background: #fff;
}

.modal__image {
  margin: 30px auto;
  display: block;
}

.close {
  color: #2c2e2f;
  position: absolute;
  right: 0px;
  top: -3px;
  width: 25px;
  text-decoration: none;
  font-size: 2rem;
}

.previous, .next {
  position: absolute;
  top: 300px;
  text-decoration: none;
  font-size: 2rem;
  color: #2c2e2f;
}

.previous {
  left: 10px;
}

.next {
  left: 660px;
}