.modal__dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 100ms ease-in;
  opacity:0;
  z-index: -1;
}

.modal__dialog.open {
  opacity: 1;
  z-index: 9999;
}

.modal__dialog > div {
  width: 650px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background: #fff;
}

.modal__image {
  margin: 30px auto;
  display: block;
}

.close {
  background: #606061;
  color: #fff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
}
